@import "../../style/variables.scss";

.header {
  background-color: $c-white;
  height: 100%;
  width: 100%;
  box-shadow: 0 1px 0 $c-white-10;

  &__logo {
    color: $c-orange;
    display: inline-block;
    vertical-align: middle;
    font-size: 34px;
    height: 100%;
    padding: 24px;
  }
}