@font-face {
  font-family: "Cereal";
  src: url("./files/Cereal.woff2") format("woff2");
}

@font-face {
  font-family: "Cereal";
  font-weight: 800;
  src: url("./files/Cereal_bold.woff2") format("woff2");
}

@font-face {
  font-family: "Cereal";
  font-weight: 400;
  src: url("./files/Cereal_light.woff2") format("woff2");
}